# MLFlow username and password 
export MLFLOW_TRACKING_USERNAME=""
export MLFLOW_TRACKING_PASSWORD=""
# MLFlow server URI (http://<host>:<port>)
export MLFLOW_TRACKING_URI=""
# Minio credentials (username and password)
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_DEFAULT_REGION="us-east-1"
export MLFLOW_S3_IGNORE_TLS="true"
# Minio server URI (http://<host>:<port>)
export MLFLOW_S3_ENDPOINT_URL=""
# Pushgateway server URI (http://<host>:<port>)
export PUSHGATEWAY_URL=""